<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.7.0" targetFramework="net45" />
  <package id="Accord.Math" version="3.7.0" targetFramework="net45" />
  <package id="FParsec" version="1.0.3" targetFramework="net45" />
  <package id="FSharp.Core" version="4.2.3" targetFramework="net45" />
  <package id="MathNet.Numerics" version="3.8.0" targetFramework="net45" />
  <package id="MathNet.Numerics.FSharp" version="3.8.0" targetFramework="net45" />
  <package id="MathParser.org-mXparser" version="4.1.1" targetFramework="net45" />
  <package id="Microsoft.Msagl" version="1.0.2" targetFramework="net45" />
  <package id="Microsoft.Msagl.Drawing" version="1.0.2" targetFramework="net45" />
  <package id="Microsoft.Msagl.GraphViewerGDI" version="1.0.2" targetFramework="net45" />
  <package id="OxyPlot.Core" version="1.0.0" targetFramework="net45" />
  <package id="OxyPlot.WindowsForms" version="1.0.0" targetFramework="net45" />
  <package id="RogueSharp" version="4.0.0-pre" targetFramework="net45" />
  <package id="RT.Dijkstra" version="1.0.7" targetFramework="net45" />
</packages>